@import url('https://fonts.cdnfonts.com/css/public-pixel');
.element-container {
    width: 33%;
    height: 20%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    font-family: 'Public Pixel', sans-serif;
}