.entry-container {
    position: absolute;
    left: 50%;
    z-index: 10;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    border-radius: 50px;
    background-color: rgba(40, 40, 40, 0.8);
    font-family: 'Public Pixel', sans-serif;
    display:flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

.description-container {
    width: 90%;
    flex-grow: 1;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

.description-text {
    overflow-y: auto;
    white-space: normal;
    max-height: 135px;
    flex-grow: 1;
    font-size: 1.25em;
}

.description-origin {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    color: rgba(240, 240, 240, 0.45)
}

.description-buttons {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
    justify-content: space-between;
    padding: 2%;
}

.pixel-font {
    font-family: 'Public Pixel', sans-serif;
}

.top-half {
    height: 65%;
    width: 90%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.flip-button {
    position: absolute;
    background-color: rgba(40, 40, 40, 0);
}

.sprite-container {
    flex-grow: 1;
    background-image: radial-gradient(rgba(240, 240, 240, 0.3), rgba(40, 40, 40, 0.0) 70%)
}

.data-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-evenly;
    flex-grow: 1;
    height: 100%;
}

.name {
    font-size: 1.8em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 5%;
    max-width: 350px;
}


.id {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.type-container {
    font-size: 1.2em;
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    gap: 5%;
    justify-content: center;
}

.type {
    padding-top:1%;
    padding-bottom: 1%;
    padding-left: 3%;
    padding-right: 3%;
    border-radius: 8px;
}

.stats-container{
    font-size: 1.4em;
    display: flex;
    flex-flow: column nowrap;
    width: 50%;
    justify-self: flex-end;
}

.stats {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}