@import url('https://fonts.cdnfonts.com/css/public-pixel');

.grid-wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 10;
    -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    /* width: 65%; */
    width: 85%;
    height: 90%;
    background-color: rgba(40, 40, 40, 0.8);
    font-family: 'Public Pixel', sans-serif;
    border-radius: 3%;
    display: flex;
    flex-flow: column nowrap;
}

.grid-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    border-radius: 30px;
    overflow-y: auto;
    height: 100%;
}
.grid-row {
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
    justify-content: space-around;
    width: 100%;
    max-height: 40%;
}
.grid-page-indicator {
    text-align: center;
    margin: 0 auto;
    color: rgba(255, 255, 255, 0.3);
}

.grid-controller {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    padding: 1%;
}
